.card-nota {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    border-radius: 4px;
    padding: 16px;
    flex-wrap: wrap;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    background-color: aquamarine;
}

.card-cabecalho {
    font-size: 1.1em;
    display: flex;
    align-items: center;
}

.card-titulo {
    margin-right: 12px;
}

.card-texto {
    margin-top: 8px;
    font-size: 1em;
}